nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  border-radius: 3rem;
  backdrop-filter: blur(50px);
}
nav a {
  padding: 0.9rem;
  background: transparent;
  border-radius: 50%;
  display: flex;
  font-size: 1.1rem;
  color: var(--color-light);
}
nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}
nav a.active {
  color: var(--color-bg);
  background: var(--color-primary);
}
